<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <link href='http://fonts.googleapis.com/css?family=Cabin|Philosopher|Puritan' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="description" content="<%= @context[:description] || 'Michael Joseph Kramer' %>" />
    <title>
      <% if @path == 'index' %>
        <%= title %>
      <% elsif @path.split('/').compact.length == 4 %>
        <%= title %> - <%= @config[:title] %>
      <% else %>
        <%= @path.capitalize.gsub(/[-]/, ' ') %> - <%= @config[:title] %>
      <% end %>

    </title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= @config[:analytics] %>']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </head>
   <body>
     <header>
     <h1><a href="/"><%= @config[:title] %></a></h1>
     <% if @config[:subtitle] %>
       <div id="subtitle"><%= @config[:subtitle] %></div>
     <% end %>
     <hr />
     </header>
     <section id="content">
     <%= yield %> 
     </section>
     <aside id='about'>
       <div id='social-media'>
         <a href="/index.xml" target="_blank"><img src="/images/rss.png" width="64px" height="64px" /></a>
         <a href="http://twitter.com/#!/<%= @config[:twitter] %>" target="_blank"><img src="/images/twitter.png" width="64px" height="64px" /></a>
         <a href="http://www.facebook.com/<%= @config[:facebook] %>" target="_blank"><img src="/images/facebook.png" width="64px" height="64px"  /></a>
         <a href="http://linkedin.com/in/<%= @config[:linkedin] %>" target="_blank"><img src="/images/linkedin.png" width="64px" height="64px" /></a>
         <a href="mailto:<%= @config[:email] %>"><img src="/images/gmail.png" width="64px" height="64px" /></a>
         <hr />
       </div>
       <div id="bio">
         <p>
         Michael Joseph Kramer is a passionate software developer focusing on quality, testing, and agile practices. Recently he has been digging into Node.js and JavaScript, CoffeeScript, and he is still trying not to spill the Ruby Kool-Aid all over his shirt.
         </p>
         <p>
         Michael is located in Columbus, OH.
         </p>
       </div>
       </aside>
       <footer>
       &copy; Michael Joseph Kramer 2011
     </footer>
   </body>
 </html>

