<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/github.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <link href='http://fonts.googleapis.com/css?family=Cabin|Philosopher|Puritan' rel='stylesheet' type='text/css'>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="description" content="<%= @context[:description] || 'Michael Joseph Kramer' %>" />
    <title>
      <% if @path == 'index' %>
        <%= title %>
      <% elsif @path.split('/').compact.length == 4 %>
        <%= title %> - <%= @config[:title] %>
      <% else %>
        <%= @path.capitalize.gsub(/[-]/, ' ') %> - <%= @config[:title] %>
      <% end %>

    </title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= @config[:analytics] %>']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

       try{ clicky.init(<%= @config[:clicky] %>); }catch(e){}

     </script>
   </head>

   <body>
     <header>
       <h1><a href="/"><%= @config[:title] %></a></h1>
       <% if @config[:subtitle] %>
         <div id="subtitle"><%= @config[:subtitle] %></div>
       <% end %>
       <hr />
     </header>
     <section id="content">
      <%= yield %> 
     </section>
     <footer>
      &copy; Michael Joseph Kramer <%= Time.now.year %>
     </footer>
   </body>

 </html>
